.navbar-collapse{
    flex-grow: 0 !important;
    margin-right: 12px !important;
    justify-content: space-between !important;

}

li {
    min-width: 80px !important;
}


.dropdownlist {
    background-color: red !important;
}


.table {
    text-align: center !important;
    align-items: center !important;

}
.table td{
    text-align: center !important;
    font-size: 12px !important;
    background-color: whitesmoke !important;
    border-right: 2px solid rgb(15, 15, 15) !important;
}